* {
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

:root {
  --body-bg: hsl(185, 41%, 84%);
  --calc-bg: hsl(189, 41%, 97%);
  --dark-cyan: hsl(183, 100%, 15%);
  --text-light-bg: hsl(186, 14%, 43%);
  --text-dark-bg: hsl(184, 14%, 56%);
  --strong-cyan: hsl(172, 67%, 45%);
  --white: white;
}

body {
  font-family: "Space Mono", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: var(--body-bg);
}

.logo {
  margin-bottom: 3rem;
  margin-top: 3rem;
}

main {
  background: var(--white);
  padding: 1.4rem;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  cursor: default;
}

.left-side {
  padding: 0.65rem;
  margin-right: 0.65rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h4 {
  font-size: 0.7rem;
  color: var(--text-light-bg);
}

.buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (6.25rem)[3];
      grid-template-columns: repeat(3, 6.25rem);
  gap: 0.65rem;
  margin: 30px 0;
}

.buttons h4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.buttons button {
  font-family: "Space Mono", monospace;
  border: none;
  padding: 0.45rem 0.9rem;
  border-radius: 0.3rem;
  background: var(--dark-cyan);
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
  height: 2.1rem;
}

.buttons .custom {
  background: var(--calc-bg);
  color: var(--text-light-bg);
  border: 2px solid var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons .custom input[type="number"] {
  text-align: center;
  background: var(--calc-bg);
  width: 100%;
  font-size: 0.9rem;
}

label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9rem;
  border-radius: 0.3rem;
  background: var(--calc-bg);
  cursor: pointer;
}

.currency {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100px;
  margin: 2rem 0 4rem 0;
}

.currency__select {
  padding: 5px;
  border: 2px solid var(--strong-cyan);
  border-radius: 10px;
  width: 60%;
  display: block;
  outline: none;
  background-color: var(--dark-cyan);
  color: var(--white);
  font-family: "Space Mono", monospace;
  font-weight: 500;
  font-size: 1rem;
}

.currency__select option {
  background: var(--dark-cyan);
  font-weight: 500;
}

.currency__title {
  color: var(--strong-cyan);
  margin-bottom: 0.5rem;
}

.currency__exchange-rate {
  color: var(--strong-cyan);
  font-weight: 700;
  font-size: 1.5rem;
}

.currency__exchange-rate__sign {
  font-size: 2rem;
}

.sign__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

.currency__sign {
  margin-right: 10px;
  font-size: 1.2rem;
  color: var(--text-light-bg);
}

option:disabled {
  color: var(--text-dark-bg);
}

.currency__select {
  padding: 5px;
  border: 2px solid var(--strong-cyan);
  border-radius: 10px;
  width: 65%;
  display: block;
  outline: none;
  background-color: var(--dark-cyan);
  color: var(--white);
  font-family: "Space Mono", monospace;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.currency__select option {
  background: #5e7a7d;
}

.tooltip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-right: 1rem;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  background: var(--strong-cyan);
  color: var(--dark-cyan);
  position: relative;
  cursor: help;
}

.tooltip::after {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  visibility: hidden;
  white-space: nowrap;
  content: attr(data-tooltip);
  border-radius: 10px;
  font-size: 0.8rem;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: auto;
  top: calc(-150% - 3px);
  padding: 0.5rem;
  background: var(--strong-cyan);
  color: var(--dark-cyan);
  text-transform: capitalize;
}

.tooltip:hover::after {
  visibility: visible;
}

input[type="number"] {
  direction: rtl;
  outline: none;
  border: none;
  text-align: right;
  font-family: "Space Mono", monospace;
  width: 100%;
  background: var(--calc-bg);
  font-size: 1.2rem;
  color: var(--dark-cyan);
  font-weight: 700;
  cursor: pointer;
}

.error-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#error {
  color: red;
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.right-side {
  margin-left: 0.6rem;
  background: var(--dark-cyan);
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.2rem;
  position: relative;
}

.tip-result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.2rem;
}

.total h5 {
  color: var(--white);
  white-space: nowrap;
}

.total h6 {
  white-space: nowrap;
  color: var(--text-dark-bg);
}

.result {
  color: var(--strong-cyan);
  font-size: 2rem;
}

.reset-btn {
  position: static;
  margin: auto;
  bottom: 1.2rem;
  left: 0;
  right: 0;
  width: calc(100% - 2.4rem);
  border: none;
  padding: 0.62rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-family: "Space Mono", monospace;
  color: var(--dark-cyan);
  font-weight: 700;
  cursor: pointer;
  border-radius: 0.3rem;
  background: var(--strong-cyan);
}

.disabled {
  background: #003a3d !important;
  cursor: default;
}

.buttons .active {
  background: var(--strong-cyan);
  color: var(--dark-cyan);
}

.buttons .customActive {
  background: var(--white);
  border: 2px solid var(--strong-cyan);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (max-width: 375px) {
  main {
    -ms-grid-columns: 300px;
        grid-template-columns: 300px;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  main .buttons {
    -ms-grid-columns: (33%)[3];
        grid-template-columns: repeat(3, 33%);
  }
}
/*# sourceMappingURL=style.css.map */